*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2rem;
    font-family: sans-serif;
}

.profile {
    width: 40rem;
    height: 40rem;
    background: #eee;
    border-radius: 5rem;
}

.profile__header {
    height: 10rem;
    background: url("../img/pexels-anni-roenkae-2860804.webp");
    background-size: 100% 100%;
    background-size: cover;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    position: relative;
}

.unknown {
    height: 15rem;
    width: 15rem;
    background: #eee;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    overflow: hidden;
    border: 0.5rem solid rgba(255, 255, 255, 0.8);
}

.unknown__face {
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unknown__body {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.profile__body {
    display: flex;
    align-items: center;
    height: 25rem;
    background: white;
}

.profile__text {
    margin-top: 2rem;
    font-size: 80%;
}

.profile__footer {
    height: 5rem;
    background: green;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}